@import "../../pages/variables.scss";

.About {
    > div {
        width: 90%;
        > p {
            font-size: 5vmin;
            text-align: center;
            margin-bottom: 7vmin;
            span {
                color: $black;
                font-weight: bold;
            }
            .break {
                display: inline;
                @media screen and (min-width: $mobile-medium-width) {
                    display: none;
                }
                @media screen and (min-width: $tablet-small-width) {
                    display: inline;
                }
                @media screen and (min-width: $tablet-small-width) and (max-height: $tablet-small-width) {
                    display: none;
                }
                @media screen and (min-width: $tablet-large-width) {
                    display: inline;
                }
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    display: none;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    display: none;
                }
            }
            @media screen and (min-width: $tablet-small-width) {
                font-size: 4.5vmin;
            }
            @media screen and (min-width: $tablet-large-width) {
                font-size: 4.3vmin;
            }
            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                font-size: 4vmin;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 7vmin;
            .aboutMe {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                div {
                    width: 100%;
                    margin-bottom: 7vmin;
                    p {
                        width: 90%;
                        margin: 0 auto;
                        font-size: 3.8vmin;
                        text-align: justify;
                        @media screen and (min-width: $tablet-small-width) {
                            margin: 0;
                            width: 70%;
                            font-size: 3.3vmin;
                        }
                        @media screen and (min-width: $tablet-large-width) {
                            font-size: 3vmin;
                        }
                        @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                            font-size: 2.6vmin;
                        }
                    }
                }
                div:last-child {
                    margin-bottom: 0;
                }
                @media screen and (min-width: $tablet-small-width) {
                    div:nth-child(even) {
                        p {
                            margin-left: auto;
                        }
                    }
                }
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    width: 0;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    width: 0;
                }
            }
            .profilePicture {
                width: 40vmin;
                height: 40vmin;
                position: relative;
                > * {
                    border-radius: 50%;
                }
                @media screen and (min-height: $tablet-large-width) {
                    margin: 10vmin 0 0 0;
                }
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    margin: 0 0 0 10vmin;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    margin: 0 0 0 10vmin;
                }
                @media screen and (max-width: calc(#{$tablet-large-width} - 1px)) {
                    margin: 10vmin 0 0 0;
                }
                @media screen and (max-width: $tablet-large-width) {
                    width: 35vmin;
                    height: 35vmin;
                }
            }
            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                flex-direction: row;
            }
            @media screen and (min-width: $desktop-medium-width) {
                flex-direction: row;
            }
        }
        .button {
            button {
                background-color: $white;
                color: $orange;
                border: none;
                border-radius: 2vmin;
                padding: 1.5vmin 2vmin;
                display: block;
                margin: auto;
                outline: none;
                cursor: pointer;
                font-size: 4vmin;
                font-weight: bold;
                font-family: $monospace;
                text-transform: uppercase;
                transition-duration: 0.2s;
                @media screen and (min-width: $tablet-large-width) {
                    font-size: 3vmin;
                }
            }
            button:hover {
                background-color: $lightgrey;
            }
        }
    }
}
