@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro&display=swap");
@import "./variables.scss";

html {
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-y: overlay;
    scrollbar-width: thin;
    scrollbar-color: $darkgrey $white;
}

body {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    * {
        box-sizing: border-box;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
    background-color: $darkgrey;
    box-shadow: inset 0 0 2px $black;
    -webkit-box-shadow: inset 0 0 2px $black;
}
