@import "./variables.scss";

.Index {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: $sans-serif, sans-serif;
    main {
        $padding-top: calc(#{$header-height} * 1.5);
        section {
            width: 100%;
            min-height: 100vh;
            padding: $padding-top 0 $header-height;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        section:last-child {
            $padding-bottom: calc(#{$header-height} + #{$footer-height});
            padding: $padding-top 0 $padding-bottom;
        }
        section:nth-child(odd) {
            color: $black;
            background-color: $white;
        }
        section:nth-child(even) {
            color: $white;
            background-color: $orange;
        }
    }
}
