$header-height: 8vh;
$footer-height: 40vh;
$scrollbar-width: 10px;
$desktop-large-width: 1440px;
$desktop-medium-width: 1366px;
$desktop-small-width: 1280px;
$tablet-large-width: 1024px;
$tablet-medium-width: 900px;
$tablet-small-width: 768px;
$mobile-large-width: 640px;
$mobile-medium-width: 480px;
$mobile-small-width: 320px;
$white: #fffcf2;
$black: #252422;
$darkgrey: #55504a;
$lightgrey: #b9b2a4;
$orange: #eb5e28;
$sans-serif: "Montserrat";
$monospace: "Source Code Pro";
