@import "../../pages/variables.scss";

.Home {
    > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .welcome {
            margin-bottom: 30vmin;
            @media screen and (min-width: $mobile-large-width) {
                margin-bottom: 10vmin;
            }
            @media screen and (min-width: $tablet-small-width) {
                margin-bottom: 20vmin;
            }
            @media screen and (min-width: $tablet-large-width) {
                margin-bottom: 10vmin;
            }
            .text {
                font-size: 5vmin;
                overflow: hidden;
                p {
                    display: inline-block;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    span {
                        color: $orange;
                    }
                }
            }
            .topText {
                animation-name: showTopText;
            }
            .bottomText {
                animation-name: showBottomText;
            }
            @keyframes showTopText {
                from {
                    transform: translateY(100%);
                }
                to {
                    transform: translateY(0);
                }
            }
            @keyframes showBottomText {
                from {
                    transform: translateY(-100%);
                }
                to {
                    transform: translateY(0);
                }
            }
        }
        .gif {
            overflow: hidden;
            > div {
                width: 35vmin;
                height: 35vmin;
                background-color: $black;
                border-radius: 50%;
                animation-name: showGif;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
            @keyframes showGif {
                from {
                    transform: translateY(100%);
                }
                to {
                    transform: translateY(0);
                }
            }
        }
    }
}
