@import "../../pages/variables.scss";

.Header {
    width: 100vw;
    min-height: $header-height;
    padding-right: $scrollbar-width;
    transition: background-color 500ms;
    position: fixed;
    z-index: 1;
    top: 0;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    > div {
        display: flex;
        align-items: center;
    }
    .links {
        justify-content: flex-start;
        .image {
            width: 8vmin;
            height: 8vmin;
            cursor: pointer;
            position: relative;
            margin-left: 2vmin;
            @media screen and (min-width: $mobile-medium-width) {
                width: 6vmin;
                height: 6vmin;
            }
            @media screen and (min-width: $tablet-small-width) {
                width: 5vmin;
                height: 5vmin;
            }
            @media screen and (min-width: $tablet-small-width) and (max-height: $tablet-small-width) {
                width: 6vmin;
                height: 6vmin;
            }
            @media screen and (min-width: $tablet-large-width) {
                width: 5vmin;
                height: 5vmin;
            }
            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                display: none;
            }
            @media screen and (min-width: $desktop-medium-width) {
                display: none;
            }
        }
        .menu {
            overflow: hidden;
            position: absolute;
            transform: translateY(65%);
            padding: 2vmin 4vmin 4vmin 2vmin;
            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                padding: 0;
                transform: translateY(0);
            }
            @media screen and (min-width: $desktop-medium-width) {
                padding: 0;
                transform: translateY(0);
            }
            > div {
                border-radius: 1vmin;
                background-color: $white;
                box-shadow: 3px 3px 10px $darkgrey;
                transform: translateY(-130%);
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    transform: translateY(0) !important;
                    box-shadow: none;
                    border-radius: 0;
                    background-color: transparent !important;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    transform: translateY(0) !important;
                    box-shadow: none;
                    border-radius: 0;
                    background-color: transparent !important;
                }
                span {
                    display: block;
                    margin: 0 2vmin;
                    padding-top: 1vmin;
                    white-space: nowrap;
                    font-size: 3.5vmin;
                    text-transform: uppercase;
                    cursor: pointer;
                    @media screen and (min-width: $mobile-medium-width) {
                        font-size: 2.9vmin;
                    }
                    @media screen and (min-width: $tablet-small-width) {
                        font-size: 2.3vmin;
                    }
                    @media screen and (min-width: $tablet-small-width) and (max-height: $tablet-small-width) {
                        font-size: 2.9vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) {
                        font-size: 2vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                        display: inline;
                        margin-right: 0;
                        font-size: 1.7vmin;
                    }
                    @media screen and (min-width: $desktop-medium-width) {
                        display: inline;
                        margin-right: 0;
                        font-size: 1.7vmin;
                    }
                }
                span:hover {
                    color: $lightgrey;
                }
                span:last-child {
                    padding: 1vmin 0;
                }
            }
            .hideMenu {
                animation-name: hideMenu;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            .showMenu {
                animation-name: showMenu;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            @keyframes hideMenu {
                from {
                    transform: translateY(0);
                }
                to {
                    transform: translateY(-130%);
                }
            }
            @keyframes showMenu {
                from {
                    transform: translateY(-130%);
                }
                to {
                    transform: translateY(0);
                }
            }
        }
    }
    .name {
        text-align: center;
        justify-content: center;
        transition: color 500ms;
        span {
            margin: 1vmin;
            font-size: 5vmin;
            @media screen and (min-width: $mobile-medium-width) {
                font-size: 4.2vmin;
            }
            @media screen and (min-width: $tablet-small-width) {
                font-size: 3.5vmin;
            }
            @media screen and (min-width: $tablet-small-width) and (max-height: $tablet-small-width) {
                font-size: 4vmin;
            }
            @media screen and (min-width: $tablet-large-width) {
                font-size: 3.2vmin;
            }
            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                font-size: 2.7vmin;
            }
            @media screen and (min-width: $desktop-medium-width) {
                font-size: 2.7vmin;
            }
        }
    }
    .languages {
        justify-content: flex-end;
        a {
            color: $black;
            font-size: 3.5vmin;
            margin-right: 1vmin;
            text-decoration: none;
            @media screen and (min-width: $mobile-medium-width) {
                font-size: 2.9vmin;
            }
            @media screen and (min-width: $tablet-small-width) {
                font-size: 2.3vmin;
            }
            @media screen and (min-width: $tablet-small-width) and (max-height: $tablet-small-width) {
                font-size: 2.9vmin;
            }
            @media screen and (min-width: $tablet-large-width) {
                font-size: 2vmin;
            }
            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                font-size: 1.7vmin;
                margin-right: 2vmin;
            }
            @media screen and (min-width: $desktop-medium-width) {
                font-size: 1.7vmin;
                margin-right: 2vmin;
            }
        }
        a:hover {
            color: $lightgrey;
        }
    }
}
