@import "../../pages/variables.scss";

.Work {
    > div {
        width: 90%;
        .heading {
            text-align: center;
            font-size: 4.3vmin;
            margin-bottom: 4vmin;
            @media screen and (min-width: $tablet-small-width) {
                font-size: 4vmin;
            }
            @media screen and (min-width: $tablet-large-width) {
                font-size: 3.3vmin;
            }
            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                font-size: 3vmin;
            }
            @media screen and (min-width: $desktop-medium-width) {
                font-size: 3vmin;
            }
        }
        > div {
            display: grid;
            gap: 4vmin;
            grid-template-rows: repeat(auto, 5);
            grid-template-columns: auto;
            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                grid-template-rows: repeat(1fr, 6);
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (min-width: $desktop-medium-width) {
                grid-template-rows: repeat(auto, 6);
                grid-template-columns: 1fr 1fr;
            }
            > div {
                display: flex;
                flex-direction: column;
                ul {
                    margin: 0;
                    padding-inline-start: 3vmin;
                }
                .year {
                    text-align: right;
                    color: $lightgrey;
                    font-size: 3.3vmin;
                    font-family: $monospace;
                    @media screen and (min-width: $tablet-small-width) {
                        font-size: 3vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) {
                        font-size: 2.7vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                        font-size: 2.2vmin;
                    }
                    @media screen and (min-width: $desktop-medium-width) {
                        font-size: 2.2vmin;
                    }
                }
                .title {
                    color: $orange;
                    margin: 2% auto;
                    font-weight: bold;
                    font-size: 5vmin;
                    @media screen and (min-width: $tablet-small-width) {
                        font-size: 4.5vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) {
                        font-size: 3.9vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                        font-size: 3.6vmin;
                    }
                    @media screen and (min-width: $desktop-medium-width) {
                        font-size: 3.6vmin;
                    }
                    a {
                        color: $orange;
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        > span {
                            width: 3.6vmin;
                            height: 3.6vmin;
                            position: relative;
                            display: inline-block;
                            margin-left: 1vmin;
                            &:first-of-type {
                                visibility: visible;
                            }
                            &:last-of-type {
                                right: 0;
                                position: absolute;
                                visibility: hidden;
                            }
                            @media screen and (min-width: $mobile-large-width) {
                                width: 3.8vmin;
                                height: 3.8vmin;
                            }
                            @media screen and (min-width: $tablet-small-width) {
                                width: 3.1vmin;
                                height: 3.1vmin;
                            }
                            @media screen and (min-width: $tablet-large-width) {
                                width: 2.9vmin;
                                height: 2.9vmin;
                            }
                            @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                                width: 2.7vmin;
                                height: 2.7vmin;
                            }
                            @media screen and (min-width: $desktop-medium-width) {
                                width: 2.5vmin;
                                height: 2.5vmin;
                            }
                            @media screen and (min-width: $desktop-large-width) and (max-height: $tablet-large-width) {
                                width: 2.5vmin;
                                height: 2.5vmin;
                            }
                        }
                    }
                    a:hover {
                        color: $darkgrey;
                        > span {
                            &:first-of-type {
                                visibility: hidden;
                            }
                            &:last-of-type {
                                visibility: visible;
                            }
                        }
                    }
                }
                .description {
                    text-align: justify;
                    font-size: 3.3vmin;
                    margin-top: 1%;
                    @media screen and (min-width: $tablet-small-width) {
                        font-size: 3vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) {
                        font-size: 2.7vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                        font-size: 2.3vmin;
                    }
                    @media screen and (min-width: $desktop-medium-width) {
                        font-size: 2.3vmin;
                    }
                    a,
                    a:visited {
                        color: $orange;
                    }
                    a:hover {
                        color: $lightgrey;
                    }
                }
            }
            .ortex {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                justify-content: flex-start;
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                }
            }
            .teacher {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                justify-content: center;
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    grid-row: 3 / 5;
                    grid-column: 1 / 2;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    grid-row: 3 / 5;
                    grid-column: 1 / 2;
                }
            }
            .talk {
                grid-row: 5 / 6;
                grid-column: 1 / 2;
                justify-content: flex-end;
                span {
                    font-size: 3vmin;
                    color: $lightgrey;
                    @media screen and (min-width: $tablet-small-width) {
                        font-size: 2.7vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) {
                        font-size: 2.4vmin;
                    }
                    @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                        font-size: 2.1vmin;
                    }
                    @media screen and (min-width: $desktop-medium-width) {
                        font-size: 2.1vmin;
                    }
                }
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    grid-row: 5 / 7;
                    grid-column: 1 / 2;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    grid-row: 5 / 7;
                    grid-column: 1 / 2;
                }
            }
            .bombieri {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
                justify-content: flex-start;
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    grid-row: 1 / 4;
                    grid-column: 2 / 3;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    grid-row: 1 / 4;
                    grid-column: 2 / 3;
                }
            }
            .college {
                grid-row: 4 / 5;
                grid-column: 1 / 2;
                justify-content: flex-end;
                @media screen and (min-width: $tablet-large-width) and (max-height: $tablet-large-width) {
                    grid-row: 4 / 7;
                    grid-column: 2 / 3;
                }
                @media screen and (min-width: $desktop-medium-width) {
                    grid-row: 4 / 7;
                    grid-column: 2 / 3;
                }
            }
        }
    }
}
